{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@src": "./src",
          "@screens": "./src/screens",
          "test": "./test",
          "underscore": "lodash"
        }
      }
    ]
  ]
}
